autobahn >= 19.2.1
imagehash >= 4.0
twisted == 18.9.0
scipy >= 1.2.1
scikit-learn >= 0.20.0
protobuf
appdirs
pyOpenSSL
cryptography
service-identity
matplotlib
numpy
pandas
ptvsd
websocket-client
imutils
